[project]
	description = C written library to build strategies for automated trading. (BSD)
[access "refs/*"]
	owner = group user/Jorge Niedbalski (niedbalski)
[access "refs/for/refs/*"]
	read = group user/Jorge Niedbalski (niedbalski)
	push = group user/Jorge Niedbalski (niedbalski)
	label-Code-Review = -2..+2 group user/Jorge Niedbalski (niedbalski)
	label-Verified = -1..+1 group user/Jorge Niedbalski (niedbalski)
	rebase = group user/Jorge Niedbalski (niedbalski)
	removeReviewer = group user/Jorge Niedbalski (niedbalski)
	submit = group user/Jorge Niedbalski (niedbalski)
[access "refs/heads/*"]
	read = group user/Jorge Niedbalski (niedbalski)
	create = group user/Jorge Niedbalski (niedbalski)
	push = +force group user/Jorge Niedbalski (niedbalski)
	pushMerge = group user/Jorge Niedbalski (niedbalski)
[access "refs/tags/*"]
	push = +force group user/Jorge Niedbalski (niedbalski)
	pushTag = group user/Jorge Niedbalski (niedbalski)
	pushSignedTag = group user/Jorge Niedbalski (niedbalski)
